.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}
.header-logo{
    font-weight: bold;
}
.user-box{
    display: flex;
    align-items: center;
}
.user-logo{
    margin-right: 1em;
}
.user-logo i{
    font-size: 45px;
    position: relative;
    top: 3px;
}
.user-info-box{
    line-height: 1.3;
}
.user-name{
    font-weight: bold;
}
.user-id{
    opacity: 0.8;
    margin: 0!important;
}